### Functions are defined using "def funtion_name()" functions name would follow lower case & _

In [4]:
def helloworld():
    print('HelloWorld')

In [26]:
helloworld()

HelloWorld

In [27]:
def greeting(name):
    print('Hello {}'.format(name))

In [29]:
greeting('sam')

Hello sam

In [7]:
greeting(jose)

NameError: name 'jose' is not defined

In [42]:
def bolfun(x):
    if x == True:
        print('Hello')
    elif x == False:
        print('Goofbye')
    else :
        print('none')
        
x = ''
bolfun(x)

none

In [44]:
def bolfun(x):
    if x == True:
        return 'Hello'
    elif x == False:
        return 'Goofbye'
    else :
        return 'none'
        
x = 3 > 2
bolfun(x)

'Hello'

In [39]:
x = 3>2
x
type(x)

bool

### Usually fuctions get defined with return statement rather than print coz return can hold the result and pass to variable

In [8]:
def sumof(num1,num2):
    print('total {}'.format(num1+num2))

sumof(1,2)

total 3

In [9]:
x = sumof(1,2)

total 3

In [10]:
x

In [11]:
type(x)

NoneType

###  as you can see x did not hold the value of the result it just typed it

In [12]:
def sumofreturn(num1,num2):
    return('total {}'.format(num1+num2))

sumofreturn(1,2)

'total 3'

In [13]:
y = sumofreturn(3,4)
y

'total 7'

###  as you can see return does hold the value of the output that can be passed to variable

In [16]:
# check if the num is odd or even
def check_even(num):
    return num%2 == 0

check_even(3)

False

In [17]:
check_even(4)

True

### how to check the logic and make sure return is used correctly

In [26]:
# check through even num list, if my list has even the print True
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True   # once return called the iteration will stop.
        else:
            pass # passs will make the iteration go through until the end of the list

check_even_list([1,3,4,7]) # if all odd function will not return anything

True

###  common error that is made is where to use the return, some times if used incorrect program will not iterate all values befor it  find the correct result following is the case

In [24]:
# check through even num list, if my list has even the print True but retuen False if even is not there
# In this case if we use return at pass then then u can get incorrect result

def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True  
        else:
            return False
            pass # passs will make the iteration go through until the end of the list

check_even_list([1,3,4,7])

# as you can see the result is incorrent coz we do have 4 in there

False

In [24]:
# check through even num list, if my list has even the print True but retuen False if even is not there
# In this case if we use return at pass then then u can get incorrect result
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True  
        else:
            return False
            pass # passs will make the iteration go through until the end of the list

check_even_list([1,3,4,7])
# as you can see the result is incorrent coz we do have 4 in there

False

In [27]:
# To get right result we have to use the return on right indentation

def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True  
        else:
            pass # passs will make the iteration go through until the end of the list
        return False

check_even_list([1,3,4,7])
# as you can see the result is incorrent coz we do have 4 in there

False

In [28]:
# To get right result we have to use the return on right indentation

def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True  
        else:
            pass # passs will make the iteration go through until the end of the list
    return False

check_even_list([1,3,4,7])
# as you can see the result is correct

True

In [31]:
# what if we want to get all the even numbers form the list

def check_even_list(num_list) :
    even_list = []
    for number in num_list:
        if number % 2 == 0:
            even_list.append(number)
        else:
            pass 
    return even_list

check_even_list([1,3,4,7,8])
# as you can see the result is correct

[4, 8]

### Tuple unpacking for the functions

In [48]:
work = [('jose',100),('claire',90),('sam',600)]

def emp_check(workhours):
    cur_max = 0
    emp_of_month = ''
    for emp,hours in workhours:
        print(emp,hours, cur_max)  # debugging to see what values are in there
        if hours > cur_max :
            emp_of_month = emp
            cur_max = hours
            print('if case')
            print(emp,hours, cur_max) # debuggging what values are in there
        else:
            pass
        
    return (emp_of_month, cur_max)
#    print()

emp_check(work)

jose 100 0
if case
jose 100 100
claire 90 100
sam 600 100
if case
sam 600 600

('sam', 600)

In [54]:
work = [('jose',900),('claire',1200),('sam',600)]

def emp_check(workhours):
    cur_max = 0
    emp_of_month = ''
    for emp,hours in workhours:
        if hours > cur_max :
            emp_of_month = emp
            cur_max = hours
        else:
            pass
        
    return (emp_of_month, cur_max)
#    print()

In [52]:
result = emp_check(work)
result

('jose', 900)

In [55]:
name,maxhours = emp_check(work)
name
maxhours

1200

###  doing guessing logic for the cupping, calling multiple fuctions

In [1]:
x = [' ','O',' ']

In [2]:
from random import shuffle

In [3]:
shuffle(x)
x

[' ', 'O', ' ']

In [61]:
# 1. function doing shuffling
# 2. User doing the guess, create function
# 3. Creating another fuc to call above 2 fuc, for checking to see if user guessed right
# 4. disply shuffle result and user result to prove he is right or wrong

In [5]:
# 1 shuffling
from random import shuffle
def shuf_cup(deal_list):
    shuffle(deal_list)
    return deal_list

In [6]:
# 2 user guess
def user_guess():  
    guess = ''
    while guess not in ['0','1','2']:
        guess = input('guess the position 0,1 or 2 : ')
    return int(guess) # we are doing int coz input always result in str

In [7]:
user_guess()

guess the position 0,1 or 2 : 9
guess the position 0,1 or 2 : 2

2

In [14]:
# 3 check dealt shuffle list vs user guess
def check_guess(user_list,guess):
    if user_list[guess] == 'O':
        return 'user is correct'
    else:
        return 'user is wrong'

In [23]:
# user list 
user_list = ['O',' ',' ']
# shuffled list
mixed_list = shuf_cup(user_list)
# user input
guess = user_guess()
# check guess
check_guess(mixed_list,guess)

guess the position 0,1 or 2 : 2

'user is wrong'

In [8]:
# user list 
user_list = ['O',' ',' ']

In [18]:
# shuffled list
mixed_list = shuf_cup(user_list)

In [24]:
mixed_list

[' ', 'O', ' ']

In [19]:
# user input
guess = user_guess()

guess the position 0,1 or 2 : 3
guess the position 0,1 or 2 : 2

In [12]:
guess

1

In [20]:
# check guess
check_guess(mixed_list,guess)

'user is wrong'

In [2]:
mylist = [1,2,3,4,5]
from random import shuffle 
shuffle(mylist)

In [3]:
print(mylist)

[4, 5, 2, 1, 3]

** second time doing it **

In [5]:
def myfun():
    print("Hello World")

In [6]:
myfun()

Hello World

In [7]:
def greetings(name):
    print(f"Hello {name}")

In [8]:
greetings("same")

Hello same

#Functions #3 - simple Boolean
Define a function called myfunc that takes in a Boolean value (True or False). If True, return 'Hello', and if False, return 'Goodbye'

Remember, don't run the function, simply provide the definition.

In [9]:
def bool_check(booleanvalue):
    if booleanvalue:
        return "Hello"
    else:
        return "Goodbye"

In [10]:
bool_check(True)

'Hello'

In [11]:
bool_check(False)

'Goodbye'

Functions #4 - using Booleans
Define a function called myfunc that takes three arguments, x, y and z.
If z is True, return x.  If z is False, return y.

Remember, don't run the function, simply provide the definition.

In [12]:
def b_check(x,y,z):
    if z:
        return x
    else:
        return y

In [13]:
b_check(1,8,False)

8

Functions #5: simple math
Define a function called myfunc that takes in two arguments and returns their sum.

Remember, don't run the function, simply provide the definition.

In [19]:
def agg_fun(x,y):
    if isinstance(x,int) and isinstance(y,int):
        return x+y
    else:
        print(f"incorrect type {x} & {y}")

In [17]:
agg_fun(4,8)

12

In [20]:
agg_fun('3','7')

incorrect type 3 & 7

Functions #6: is even
Define a function called is_even that takes in one argument, and returns True if the passed-in value is even, False if it is not.

Remember, don't run the function, simply provide the definition.

In [21]:
def is_even(x):
    if x % 2 == 0:
        return True
    else:
        return False

In [22]:
is_even(234)

True

In [23]:
is_even(423421)

False

Functions #8: *args
Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those arguments.

In [24]:
def myfun(*args):
    return sum(args)

In [25]:
myfun(3,6,6)

15

Functions #9: pick evens
Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.

In [28]:
def myfunc(*args):
    args_even = []
    for items in args:
        if items % 2 == 0:
            args_even.append(items)
        else:
            pass
    return args_even

In [29]:
myfunc(3,51,1,6,1,6,14)

[6, 6, 14]

Functions #10: skyline
Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. The output string can start with either an uppercase or lowercase letter, so long as letters alternate throughout the string.

In [30]:
def myfunc(string):
    for words in string:
        for letters in words:
            if letters. % 2 == 0:
              print(letters)

In [31]:
myfunc('Hello World')

H
e
l
l
o

W
o
r
l
d

In [38]:
def myfunc(word):
    result = []
    index = 0
    for letters in word:
        if index % 2 == 0:
            result.append(letters.upper())
            index += 1
        else:
            result.append(letters)
            index += 1
    return result

In [40]:
myfunc('appreciate')

['A', 'p', 'P', 'r', 'E', 'c', 'I', 'a', 'T', 'e']

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [41]:
def lesser_of_two_evens(x,y):
    if x % 2 == 0 and y % 2 == 0 : 
        return min(x,y)
    else:
        return max(x,y)

In [44]:
lesser_of_two_evens(9,3465)

3465

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [55]:
def animal_crackers(text):
    if text.split()[0][0] == text.split()[1][0]:
        return True
    else: 
        return False

In [49]:
animal_crackers('Levelheaded Llama')

True

In [56]:
animal_crackers('Crazy Kangaroo')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [59]:
def makes_twenty(n1,n2):
    if sum([n1,n2]) == 20 or (n1 == 20 or n2 == 20):
        return True
    else:
        return False

In [62]:
#makes_twenty(20,10)
#makes_twenty(12,8)
makes_twenty(2,3)

False

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

In [73]:
def old_macdonald(name):
    str_cap = []
    index = 0
    for letter in name : 
        if index == 0 or index == 3:
            str_cap.append(letter.upper())
            index = index + 1 
        else:
            str_cap.append(letter)
            index = index + 1
    return str_cap

In [74]:
old_macdonald('macdonald')

['M', 'a', 'c', 'D', 'o', 'n', 'a', 'l', 'd']

In [81]:
def old_macdonald(name):
    firstletter = name[0]
    inbetween = name[1:3]
    fourthletter = name[3]
    return firstletter.upper() + inbetween + fourthletter.upper() + name[4:]

In [82]:
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

In [83]:
def master_yoda(text):
    t_list = text.split()
    reverse = t_list[::-1]
    return ' '.join(reverse)

In [84]:
master_yoda('I am home')

'home am I'

In [85]:
master_yoda('We are ready')

'ready are We'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

In [91]:
def with_in(num):
    if abs(num-100) < 10:
        return True
    elif abs(num-200) < 10:
        return True
    else:
        return False

In [92]:
with_in(90)

False

In [93]:
with_in(104)

True

In [94]:
with_in(150)

False

In [95]:
with_in(209)

True

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [125]:
def has_33(mylist):
    i = 0
    hold3 = []
    c = 0
    # identify when the 3 occurs first time and store that in variable 
    # on second iteration make sure to check that flag if it has 3 in it. 
    # in if statement overwrite if 3 is not found. 
    for item in mylist :
        if mylist[i] == 3:
            print(f'if 1st stmt {i}')
            i += 1
            if c == 0:
                print(f'if cnt stmt {i}')
                c += 1
            else:
                return True
        else:
            print(f'else stmt {i}')
            c = 0
            i += 1
    return False

In [126]:
has_33([1, 2, 3, 0, 6])

else stmt 0
else stmt 1
if 1st stmt 2
if cnt stmt 3
else stmt 3
else stmt 4

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [141]:
def paper_doll(mystr):
    hold_str = []
    for letter in mystr:
        l3 = [letter] * 3
        lj = ''.join(l3)
        hold_str.append(lj)
        print(hold_str)
    return ''.join(hold_str)

In [142]:
paper_doll('Hello')

['HHH']
['HHH', 'eee']
['HHH', 'eee', 'lll']
['HHH', 'eee', 'lll', 'lll']
['HHH', 'eee', 'lll', 'lll', 'ooo']

'HHHeeellllllooo'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [153]:
def blackjack(x,y,z):
    agg = x + y + z
    if agg <= 21:
        return x + y + z
    else:
        if (x == 11 or y == 11 or z==11):
            hold = x + y + z - 10
            if hold > 21:
                return 'BUST'
            else:
                return x + y + z - 10
        else :
            return 'BUST'

In [157]:
blackjack(11,11,9)

21

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(mylist):
    for item in list :
        first_half = mylist.split(6)
        inbetween = [mylist.index(6):mylist.index(9)]
        print(f"inbetween {inbetween}")
        last_half = mylist.split(9)

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [159]:
def spy_game(mylist):
    bond = []
    for item in mylist:
        if item == 0 or item == 7:
            bond.append(item)
        else:
            pass
    return bond == [0,0,7]

In [160]:
spy_game([1,2,4,0,0,7,5])

True

In [161]:
 spy_game([1,0,2,4,0,5,7])

True

In [162]:
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [189]:
def cnt_prime(num):
    prime = [2]
    x = 3
    if num < 2 :
        return 0
    while x <= num:
        print(x)
        for y in range(3,x,2):
            print(y)
            if x % y == 0: 
                x += 2
                break
        else:
            print(f'else {x}')
            prime.append(x)
            x += 2
    print(prime)
    return len(prime)

In [191]:
cnt_prime(5)

3
else 3
5
3
else 5
[2, 3, 5]

3

In [187]:
for i in range(3,5,2):
    print(i)

3

In [201]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(pattern)
        print(patterns[pattern])

In [192]:
patterns = {1:'  *  '}
print(patterns)

{1: '  *  '}

In [202]:
print_big('b')

5
****
3
*   *
5
****
3
*   *
5
****