In [1]:
# to create range of num
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
# to create range of num
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [4]:
range(1,10)

range(1, 10)

In [8]:
mylist=list(range(1,10))
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
mylist=tuple(range(1,10))
mylist

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [10]:
mylist=set(range(1,10))
mylist

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
# enumerate function 

# usally to iterate through something 

index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [18]:
# since above function is very common py created fuction called ennumerate
word = 'letter'

for item in enumerate(word):
    print(item)

(0, 'l')
(1, 'e')
(2, 't')
(3, 't')
(4, 'e')
(5, 'r')

In [19]:
# since enumerate fuctjions gives items in tuples then we can do unpacking
word = 'abcdef'

for index_cnt, letter in enumerate(word):
    print(index_cnt)
    print(letter)

0
a
1
b
2
c
3
d
4
e
5
f

In [23]:
# zip fucrion

list1 = [1,2,3]
list2 = ['a','b','c']
x = zip(list1,list2)
# in this case zip will wait for it to be printed , zip is done in memorey but not printed
list(x)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [24]:
for num, alp in zip(list1,list2):
    print(num)
    print(alp)

1
a
2
b
3
c

In [25]:
# in fuction will check if the pattern that u are looking for exist in the datatype

'a' in ['1','2','3']

False

In [26]:
'a' in ['a','b']

True

In [27]:
'key1' in {'key1':'apple','key2':'orange'}

True

In [28]:
d = {'key1':'apple','key2':'orange'}
'orange' in d.values()

True

In [29]:
# you can use any inplace fuctions operated on the datatypes
mylist = [1,2,3,4,5,6]
min(mylist)

1

In [30]:
max(mylist)

6

In [35]:
#. to import a library use the following
from random import shuffle
shuffle(mylist)

In [36]:
mylist

[1, 3, 2, 5, 6, 4]


### since it is an inplace function means works on the given list no output is returned

In [39]:
x = shuffle(mylist)
type(x)

NoneType

In [41]:
# input you cna enter a user input
x = input('enter you name :')
x

enter you name :jose

'jose'

###  INput alwys return a 'str' so you cna use int() or foat() to cast it